{% extends 'workout_buddy/base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-12 mt-5">
        <h1 class="section-title ">About Gym Buddy</h1>
        <p class="lead">
            We're a small focused on providing tools and support for people who wants to take control over thier
            trainings. Given
            the saturation of information in the workout and diet industry, we focus on more pragmatic elements of
            exercising such
            as planning, setting up goals and tracking progress.
        </p>

        <p class="lead">This site is the first part of our ongoing project to make effective workout plans and exercises
            guides available to everyone, especially people who are too busy to get stated on their own.
        </p>
        <hr class="featurette-divider">

        <h1>Our Team</h1>

        <p class="lead">Piotr Szewc<br>
            <span class="text-muted">Founder, CEO </span></p>
            <div class="container">
                <div class="row">
                    <!-- Section Description -->
                    <div class="col-md-8 wow animated fadeInRight" data-wow-delay=".2s">
                            <p class="lead pt-2">I stated Gym Buddy as side project to have more control over my workout
                                plan and gym progress.<br>
                                In personal life I am very open to other people, helpful, enthusiastic, and willing to acquire
                                new skills professional. In my spare time, I enjoy gym, indoor climbing and
                                mountain climbing.</p>
                        </div>
                    <!-- contact form -->
                    
                    <div class="col-md-2 contact-widget-section2 wow animated fadeInLeft " data-wow-delay=".2s">
                            <img src="/static/images/team/pszewc.jpg" alt="..." class="rounded mx-auto d-block mt-2 mb-2"
                                style="max-height: 200px; max-width: 200px; left:-5px">
                        </div>
                </div>
            </div>
            </div>
            </div>

        {% endblock %}