<!DOCTYPE html>
{% load staticfiles %}

<head>

  <meta charset="utf-8">
  <meta name="title" content="Workout101 - Online exercise library, Articles and Online Coaching">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Workout101 - Online exercise library, Articles and Online Coaching</title>
  <meta name="description" content="Free online exercise library and workout planner. Plan and meet your workout goals, achieve your fitness goals. Sign up today!">

  


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab|Montserrat" rel="stylesheet">

  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.css" />

  <!-- Bootstrap core JavaScript-->
  <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/sc-2.0.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script type='text/javascript' src="{% static 'js/main.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
  <script type='text/javascript' src="{% static 'js/lightbox.js' %}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136760062-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-136760062-1');
  </script>

</head>

<body data-gr-c-s-loaded="true">

  {% block sidebar %}

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary border-bottom border-white">
    <a class="navbar-brand" href="{% url 'home_page' %}">
      <img src="{% static 'images/logo.png' %}" width="50" height="50" class="d-inline-block align-top" alt="">
      WORKOUT 101
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item {% if nbar == 'home_page' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home_page' %}">Home</span></a>
        </li>
        <li class="nav-item {% if nbar == 'exercise_list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'exercise_list' %}">Exercises</a>
        </li>
        <li class="nav-item {% if nbar == 'contact_page' %}active{% endif %}">
          <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
        </li>
        <li class="nav-item {% if nbar == 'about_page' %}active{% endif %}">
          <a class="nav-link" href="{% url 'about_page' %}">About Us</a>
        </li>
        <li class="nav-item {% if nbar == 'post_list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'post_list' %}">Blog</a>
        </li>
        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'exercise_new' %}">Add New Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'post_new' %}">Add Post</a>
        </li>
        {% endif %}

      </ul>

  </nav>

  {% endblock %}

    {% block content %}
    {% endblock %}




  <!-- Footer -->
  <footer class="mt-auto py-3 footer font-small bg-white">
    <hr class='m-5'>
    <!-- Footer Links -->
    <div class="container ">

      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center mb-2 ">

        <!-- Grid column -->
        <div class="col-md-2 mb-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'about_page' %}" class="text-primary">About us</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'exercise_list' %}" class="text-primary">Exercises</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mb-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'contact_page' %}" class="text-primary">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->


    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2018 Copyright:
      <a href="{% url 'home_page' %}">Workout101</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



</body>
</html>