{% extends 'workout_buddy/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-8 mt-md-4">
            <h2>About Gym Buddy</h2>
            <p>We're a small company focused on providing tools and support for people who want to start or take more
                control over their training routine. Given the saturation of infomation about exercises, we focus on
                providing simple form to create your workout routines and track your progress.</p>
            <p>This site is part of our project to make </p>
        </div>
    </div>
</div>

{% endblock %}