{% extends 'workout_buddy/base.html' %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="workout_buddy">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="bd-placeholder-img" width="100%" height="100%" src="/static/images/slider_lady.jpg"
        preserveAspectRatio="xMidYMid meet" focusable="false" role="img">
      <rect fill="#777" width="100%" height="100%"></rect></img>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1><spin class="bg-primary " style="padding: 5px">TODAY IS YOUR DAY.</spin></h1>
          <p class="lead"><spin class="bg-primary" style="padding: 5px">Everybody wanna be a bodybuilder, but nobody wanna lift this heavy-ass weight.</spin></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

<div class="col-md-12 mt-5">
  <div class="">
    <h1>Creating workout plan has never been easier</h1>
    
    <h1>Train with us and become terminator!</h1>
    <p class="lead">Gym Buddy creates personalized exercises list based on your preferences, budget, and
      schedule. Reach your gym goals with our assistant.</p>
    <p class="lead"> Create your workout plan right here in seconds.</p>
  </div>
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h1>Clear accurate illustrations.</h1>
      <p class="lead">Use our library of exercises illustrated, with written instructions a click away. Constantly growing with our users' suggestions.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      src="/static/images/exercise-sample-m.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect fill="#eee" width="100%" height="100%"></rect>
    </img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h1>Personalized training plans.</h1>
      <p class="lead">Do you want to lose weight, build muscle mass or work on the overall form? We have a training plan for you!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      src="/static/images/illustration-workout-builder.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect fill="#eee" width="100%" height="100%"></rect>
      </img>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h1>Set goals and track your progress.</h1>
      <p class="lead">Our advanced goal system allows you to set goals related to body weight, calories burnt each week, percentage of fat and many others.</p>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      src="/static/images/illustration-personal-training-software.png"preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
        <title>Placeholder</title>
        <rect fill="#eee" width="100%" height="100%"></rect>
      </img>
    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div>
{% endblock %}