{% extends 'workout_buddy/base.html' %}

{% block content %}
    <div class="post">
        {% if training.published_date %}
            <div class="date">
                {{ training.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'training_edit' pk=training.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h1>{{ training.workout_name }}</h1>

        <p>{{ training.exercise }} |   Weight: {{ training.weight|linebreaksbr }}</p>
    
        <p>{{ training.exercise_one }} |   Weight: {{ training.weight_one|linebreaksbr }}</p>

        <p>{{ training.exercise_two }} |   Weight: {{ training.weight_two|linebreaksbr }}</p>

        <p>{{ training.exercise_tree }} |  Weight: {{ training.weight_tree|linebreaksbr }}</p>

        <p>{{ training.exercise_four }} |   Weight: {{ training.weight_four|linebreaksbr }}</p>

        <p>{{ training.exercise_five }} |  Weight:{{ training.weight_five|linebreaksbr }}</p>
    </div>
{% endblock %}