{% extends 'workout_buddy/base.html' %}

{% block content %}
    <div class="post">
        {% if training.published_date %}
            <div class="date">
                {{ training.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'training_edit' pk=training.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h1>{{ training.workout_name }}</h1>


    </div>
{% endblock %}