{% extends 'workout_buddy/base.html' %}



{% block content %}
  <form method="post" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name }}
      </div>

      <div class="panel panel-default">
            <div class="panel-body">
               <div class="btn-group">
                 <button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown">
                   <span data-bind="label">Select One</span>&nbsp;<span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" role="menu">
                     {% for t in form.types %}
                         <li><a href="#">{{ form.type }}</a></li>
                     {% endfor %}
                 </ul>
              </div>
           </div>
        </div>

    </div>
    <button type="submit" class="btn btn-outline-primary">Save Exercise</button>
  </form>
{% endblock %}