{% extends 'workout_buddy/base.html' %}

{% block content %}

<section class="Material-contact-section section-padding section-dark ">

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h1 class="section-title text-primary">{{ exercise.name }}</h1>
                <h5>Type:</h5>
                <p>{{ exercise.type }}</p>
                <h2 class="section-title text-primary">Instructions</h2>
                <h5>Preparation:</h5>
                <p>{{ exercise.preparation|default:"" }}</p>
                <h5>Execution:</h5>
                <p>{{ exercise.execution|default:"" }}</p>
                <h2 class="section-title text-primary">Comments:</h2>  
                <p>{{ exercise.comments|default:"" }}</p>

                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'exercise_edit' pk=exercise.pk %}"><span
                        class="glyphicon glyphicon-pencil">Edit</span></a>
                {% endif %}
            </div>
            <div class="col-md-6 mt-5">
                    {% if exercise.example %}
                    <p><a href="{{ exercise.example.url|default_if_none:'#' }}"
                    data-lightbox="{{ exercise.example.url|default_if_none:'#' }}">
                        <img src="{{ exercise.example.url|default_if_none:'#' }}" width="auto"
                            height="300"
                            style="border-radius: 5px;  border: 1px solid;" /></a></td></p>
                {% endif %}
              
                <h5>Major Muscile:</h5>
                <p>{{ exercise.major_muscule }}</p>
                <h5>Minior Muscule:</h5>
                <p>{{ exercise.minior_muscule }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}