{% extends 'workout_buddy/base.html' %}

{% block content %}

    <p>
        This is a partial list of weight training exercises organized by muscle group.
    </p>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-top-width:1px;border-bottom-width:1px;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-eqnd{background-color:#cbcefb;border-color:#cbcefb;text-align:left;vertical-align:top}
        .tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
        .tg .tg-iqfu{background-color:#cbcefb;border-color:#333333;text-align:left;vertical-align:top}
        .tg .tg-atat{background-color:#ecf4ff;border-color:#cbcefb;text-align:left;vertical-align:top}
        .tg .tg-6pk8{background-color:#ecf4ff;border-color:#cbcefb;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        </style>
        <table class="tg">
          <tr>
            <th class="tg-eqnd">Exercise</th>
            <th class="tg-iqfu">Calves</th>
            <th class="tg-iqfu">Quadriceps</th>
            <th class="tg-iqfu">Ham-strings</th>
            <th class="tg-iqfu">Gluteus</th>
            <th class="tg-iqfu">Hips other</th>
            <th class="tg-iqfu">Lower  back</th>
            <th class="tg-iqfu">Lats</th>
            <th class="tg-iqfu">Trapezius</th>
            <th class="tg-iqfu">Abdominals</th>
            <th class="tg-iqfu">Pectorals</th>
            <th class="tg-iqfu">Deltoids</th>
            <th class="tg-iqfu">Triceps</th>
            <th class="tg-iqfu">Biceps</th>
            <th class="tg-iqfu">Forearms</th>
          </tr>
          <tr>
            <td class="tg-atat">Squat</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Leg<br>  press</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Lunge</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Deadlift</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Leg<br>  extension</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Leg<br>  curl</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Standing calf raise</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Seated calf raise</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Hip adductor</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Bench<br>  press</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Chest<br>  fly</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Push-up</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Pull-down</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Some</td>
          </tr>
          <tr>
            <td class="tg-6pk8">Pull-up</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Bent-over<br>  row</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Some</td>
          </tr>
          <tr>
            <td class="tg-6pk8">Upright<br>  row</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Shoulder<br>  press</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Shoulder<br>  fly</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Lateral<br>  raise</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Shoulder<br>  shrug</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Pushdown</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Triceps extension</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
          </tr>
          <tr>
            <td class="tg-atat">Biceps<br>  curl</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4">Some</td>
          </tr>
          <tr>
            <td class="tg-6pk8">Crunch</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Russian<br>  twist</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
          <tr>
            <td class="tg-6pk8">Leg<br>  raise</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Yes</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax">Some</td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
            <td class="tg-0lax"></td>
          </tr>
          <tr>
            <td class="tg-atat">Back<br>  extension</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Some</td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4">Yes</td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
            <td class="tg-buh4"></td>
          </tr>
        </table>
{% endblock %}