{% extends 'workout_buddy/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'exercise_edit' pk=exercise.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h1>{{ exercise.name }}</h1>
        <p>{{ exercise.type }}</p>

        <p>{{ exercise.major_muscule }}</p>
        <p>{{ exercise.minior_muscule }}</p>
            <p>{{ exercise.description|default:"" }}</p>
            <p>{{ exercise.modification|default:"" }}</p>


    </div>
{% endblock %}