{% extends 'workout_buddy/base.html' %}

{% block content %}
    <div class="post">
        {% if exercise.published_date %}
            <div class="date">
                {{ exercise.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'exercise_edit' pk=exercise.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        
        <h1>{{ exercise.name }}</h1>


    </div>
{% endblock %}