{% extends 'workout_buddy/base.html' %}

{% block content %}

<section class="Material-contact-section section-padding section-dark ">

    <div class="container">
        <div class="col-md-12 mt-5">

            <div class="post">



                {% if post.image %}
                <img src="{{ post.image.url|default_if_none:'#' }}" style=" width:900px;max-height: 370px;"
                    class="rounded img-fluid" /></a>
                {% endif %}
                <h2 class="mt-3 text-primary">{{ post.title }}</h2>
                <p class="mt-2">{{ post.text|safe }}</p>

                {% if post.published_date %}
                <div class="date">
                    <b>{{post.author}}, {{ post.published_date|date:"d M Y"  }}</b>
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <p>
                    <a class="mt-3 btn btn-primary" href="{% url 'post_edit' slug=post.slug pk=post.pk %}">Edit</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}